<%= form_with(model: mediation, local: true) do |form| %> <!--TO FIX-->
  <% if mediation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mediation.errors.count, "error") %> prohibited this mediation from being saved:</h2>

      <ul>
        <% mediation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mediation_type %>
    <%= form.text_field :mediation_type %>
  </div>

  <div class="field">
    <%= form.label :protocol_number %>
    <%= form.text_area :description %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>